@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
  color: #fff;
}

h1 {
  text-align: center;
}

label {
  display: block;
  text-align: center;
}

select {
  display: block;
  align-items: center;
}



.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pokemon-card {
  margin-top: 5vw;
  width: 150px;
  height: 200px;
  border: 1px solid #4a4a4a;
  border-radius: 8px;
  box-shadow: 8px 8px 8px rgba(255, 255, 255, 0.2);
  padding: 12px;
  margin-bottom: 16px;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.pokemon-card:hover {
  transform: scale(1.1);
}

.pokemon-name {
  font-size: 16px;
  font-weight: bold;
}

.pokemon-image {
  width: 80px;
  height: 80px;
  margin-bottom: 8px;

}

.pokemon-type {
  font-size: 16px;
  font-style: italic;
  border-radius: 6px;
  padding: 1px 5px 1px 5px ;
  display: flex;
  align-items: center;
  width: max-content;
  gap: 5px;
}

.show-pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.img-type{
  width: 20px;
  height: 20px;
}

.pokemon-types {
  font-size: 12px;
  color: #999;
  padding: 4px;
}

.water {
  background-color: #3B9EFF;
  color: black;
}

.fire {
  background-color: #FF6B6B;
  color: black;
}

.grass {
  background-color: #82D173;
  color: black;
}

.normal {
  background-color: #BDBDBD;
  color: black;
}

.fighting {
  background-color: #C2185B;
}

.poison {
  background-color: #AA00FF;
  color: black;

}

.ground {
  background-color: #D4C29E;
  color: black;
}

.flying {
  background-color: #81C1E2;
  color: black;
}

.psychic {
  background-color: #FF81C0;
  color: black;
}

.bug {
  background-color: #92C830;
  color: black;
}

.rock {
  background-color: #A38C21;
  color: black;
}

.ghost {
  background-color: #705898;
  color: black;
}
.dragon {
  background-color: #6F35FC;
}

.dark {
  background-color: #424242;
  color: black;
}

.steel {
  background-color: #B8B8D0;
  color: black;
}

.fairy {
  background-color: #EE99AC;
  color: black;
}

.electric {
  background-color: #FFD700;
  color: black;
}

.ice {
  background-color: #B3E5FC;
  color: black;
}
